@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

// @import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
// @import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700');
// @import url('https://fonts.googleapis.com/css?family=Carme');

// font-family: 'Sawarabi Mincho';
body {
  font-family: "Quicksand";
  font-weight: 500;
}
.post-list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  flex: 6;
}
h3 {
  color: #fe5c71;
}
.blog-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.blog-pg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6rem 0;
  .follow {
    margin: 1rem 0 2rem;
    svg {
      margin-right: 1rem;
      color: #fe5c71;
      &:hover {
        color: #fb1d3a;
        transform: scale(1.2);
        transition: 0.3s ease;
      }
    }
  }
  .new-post {
    width: 60%;
    border: 1px solid #ccc;
    padding: 40px;
    position: relative;
    // background-image: linear-gradient(to right,#ffffff, #fdc7d5); // pink
    // background-image: linear-gradient(to right,#ffffff, #F0DB4F); // yellow
    background-image: linear-gradient(to right,#ffffff, #c57044);
    // background-image: linear-gradient(to right,#ffffff, #89D068); // green
    // background-image: linear-gradient(to right, #ffffff, #53cb81);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 14px;
    &:hover {
      // box-shadow: 12px 12px 16px 0 #d3e0d6 inset, -8px -8px 12px 0 #5dcd86 inset;
    }
    &::after {
      content: "NEW";
      font-size: 14px;
      position: absolute;
      top: -12px;
      right: 15px;
      background: #fe5c71;
      color: white;
      padding: 2px 10px;
      font-weight: 600;
      border-radius: 6px;
      letter-spacing: 1px;
    }
    .new-post-wrap {
      display: flex;
    }
    .new-post-cover {
      width: 15em;
      margin-right: 4rem;
      flex: 1;
    }
    .new-post-info {
      flex: 2;
      color: black;
    }
    p {
      margin-bottom: 8px;
    }
    .date {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .post-list {
    justify-content: space-between;
  }
  .blog-pg {
    margin: 1rem 0;
    .new-post {
      width: 100%;
      padding: 2rem 1rem;
      // background-image: linear-gradient(to bottom, #ffffff, #fdc7d5); // pink
      // background-image: linear-gradient(to bottom, #ffffff, #89D068);
      // background-image: linear-gradient(to bottom, #ffffff, #ff914e); // orange
      // background-image: linear-gradient(to bottom, #ffffff, #F0DB4F); //yellow
      background-image: linear-gradient(to bottom, #ffffff, #c57044); 
      .new-post-wrap {
        display: block;
      }
      .new-post-cover {
        width: 100%;
      }
      .new-post-info {
        margin-top: 1rem;
      }
    }
  }
  .blog-info {
    display: block;
  }
}

@media print { 
  /* All your print styles go here */
  body {
    width: 100%;
  } 
  footer {
    display: none;
  }
 }