.post-wrapper {
  // width: calc(100% / 4 - 80px) ;
  width: 23%;
  max-height: 325px;
  margin: 20px;
  margin-left: 0;
  border-radius: 14px;
  border: 1px solid #eaeaea;
  // box-shadow: 0px 0px 7px 7px #f4f4f4;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  &:hover {
    // transform: scale(1.05);
    box-shadow: 12px 12px 16px 0 #eaebec inset, -8px -8px 12px 0 #ffffff inset;
  }
  .post-cover {
    width: 100%;
    // width: 280px;
    max-height: 200px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  .post-info {
    padding: 10px 14px;
    h4 {
      margin: 0;
    }
    a {
      color: #fe5c71;
      // color: #3bd174;
    }
    p {
      margin-bottom: 0;
    }
  }
  svg {
    font-size: 12px;
    margin-right: 5px;
  }
  span {
    font-size: 12px;
  }
}


@media only screen and (max-width: 768px) {
  .post-wrapper {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 1420px) {
  .post-wrapper {
    width: 30%;
    .post-cover {
      max-height: 170px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .post-wrapper {
    width: 44%;
    margin: 1rem 0;
    .post-cover {
      max-height: 120px;
    }
  }
}

@media only screen and (max-width: 330px) {
  .post-wrapper {
    width: 100%;
    .post-cover {
      max-height: 175px;
    }
  }
}
