footer {
  background-color: red;
  display: flex;
  padding: 4rem 6rem;
  .social-icons-copyright {
    flex-direction: column;
    img {
      width: 40px;
      margin: 8px 16px;
    }
    .social-icons {
      display: flex;
      width: 18rem;
      flex-wrap: wrap;
    }
  }
  a {
    color: white;
  }
  ul {
    list-style: none;
    display: flex;
  }
}
