.page-wrapper {
  width: 65%;
  margin: auto;
  h1 {
    font-size: 3rem;
    margin: 3rem 0;
    color: #fe5c71;
  }
  ul,
  ol {
    padding-left: 2rem;
    font-weight: 500;
    font-size: 1.05rem;
  }
  p {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4;
  }
}
