.page-wrapper {
  width: 65%;
  margin: auto;
  h1 {
    font-size: 3rem;
    margin: 3rem 0;
    color: #fe5c71;
  }
  h2, h3 {
    margin: 2rem 0;
    color: #314d92;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  ul,
  ol {
    padding-left: 2rem;
    font-weight: 500;
    font-size: 1.05rem;
  }
  p {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4;
  }
  img {
    width: 80%;
    display: block;
    margin: auto;
  }
  a {
    color: #3bd174;
    font-weight: 600;
    letter-spacing: 0.7px;
    &:hover {
      color: #fe5c71;
    }
  }
  .banner {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
.page-wrapper {
  width: 100%;
  p {
    font-size: 1rem;
    line-height: 1.6;
  }
}
}